div > .earth {
  animation: earth 200s infinite linear;
}
@keyframes earth {
  from {
    transform: translateY(0px) scale(0);
    transition: all;
  }
  to {
    transform: translateY(-1000px) scale(5);
  }
}
.marte {
  transform: translateY(0px) scale(0);
}
