section > .luna {
  animation: luna 60s infinite linear;
}

section > .cometa {
  transition-duration: 2s;
  transform: rotate(360deg);
  animation: cometa 60s infinite linear;
}

@keyframes luna {
  0 % {
    transform: translateZ(0) translateY(0) translateX(0);
  }
  20 % {
    transform: translateZ(-44px) translateY(-120px) translateX(10px)
      rotate(20deg);
  }
  60% {
    transform: translateZ(-240px) translateY(-200px) translateX(30px)
      rotate(5deg);
  }
  100% {
    transform: translateZ(-400px) translateY(-700px) translateX(-10px);
  }
}

@keyframes cometa {
  0 % {
    transform: translateZ(0) translateY(0) translateX(0) scale(0);
  }
  20 % {
    transform: translateZ(44px) translateY(120px) translateX(200px)
      rotate(20deg) scale(0.5);
  }
  60% {
    transform: translateZ(240px) translateY(200px) translateX(350px)
      rotate(5deg) scale(0.9);
  }
  100% {
    transform: translateZ(400px) translateY(700px) translateX(1000px) scale(1.5);
  }
}
/* @keyframes lights {
  0% {
    color: hsl(184, 94%, 49%);
    text-shadow: 0 0 1em hsla(180, 100%, 50%, 0.966),
      0 0 0.125em hsla(212, 100%, 60%, 0.473),
      -1em -0.125em 0.5em hsla(226, 100%, 60%, 0.493),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    opacity: 1;
  }

  30% {
    color: hsl(224, 81%, 56%);
    text-shadow: 0 0 1em hsla(194, 100%, 50%, 0.767),
      0 0 0.125em hsla(189, 96%, 28%, 0.712),
      -0.5em -0.125em 0.25em hsla(177, 100%, 60%, 0.5),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    opacity: 0.5;
  }
}

40% {
  color: hsl(202, 98%, 51%);
  text-shadow: 0 0 1em hsla(239, 100%, 50%, 0.884),
    0 0 0.125em hsla(207, 90%, 50%, 0.5),
    -0.25em -0.125em 0.125em hsla(167, 100%, 60%, 0.637),
    0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.877);
  opacity: 0;
}

70% {
  color: hsl(194, 88%, 53%);
  text-shadow: 0 0 1em hsla(209, 100%, 50%, 0.712),
    0 0 0.125em hsl(194, 100%, 60%),
    0.5em -0.125em 0.25em hsla(209, 98%, 51%, 0.918),
    -0.5em 0.125em 0.25em hsl(200, 85%, 61%);
  opacity: 0.5;
}

100% {
  color: hsl(199, 89%, 4%);
  text-shadow: 0 0 1em hsla(241, 100%, 50%, 0.2),
    0 0 0.125em hsla(202, 100%, 60%, 0.3),
    1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
    -1em 0.125em 0.5em hsla(200, 94%, 54%, 0.849);
  opacity: 0;
}

.animate-text {
  font-weight: 300;
  animation: lights 5s 750ms linear infinite;
} */
